*

!jquery.canvaswrapper.js
!jquery.colorhelpers.js
!jquery.flot.cursors.js
!jquery.flot.flatdata.js
!jquery.flot.js
!jquery.flot.logaxis.js
!jquery.flot.navigate.js
!jquery.flot.symbol.js
!jquery.flot.time.js
!jquery.flot.uiConstants.js
